
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@500;700&family=Poppins:wght@400;700&family=Roboto:wght@700&display=swap');

.navbar{
    padding: 16px 100px!important;
    border-bottom: 2px solid #EDEDED;
}

.navbar-brand{
    color: orange !important;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 34px !important;
    margin-right: 100px !important;
}

.nav-item{
    display: flex;
}

.nav-item .nav-link{
    
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
    
}

.s-gap{
    gap:80px;
}

.nav-link.active{
   
    border:4px solid orange;

}

.nav-icon{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: orange;
}

.separator-auth{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #008ECC; */
    margin-left: 10px;
    margin-right: 10px;
}

.separator{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    margin-left: 40px;
    margin-right: 40px;
}

